<div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="card mx-4">
                  <div class="card-body p-4">
                    <form>
                      <h1>Recover Password</h1>
                      <p class="text-muted">Enter your username and security answer</p>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="recoveryDetails.username" [ngModelOptions]="{standalone: true}" autocomplete="username" required>
                      </div>
                    
                    

                      <!-- security question -->
                      <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-lock"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="What is the name of your First Employer? (Answer to this question will be used to recover your password)" [(ngModel)]="recoveryDetails.securityAnswer" [ngModelOptions]="{standalone: true}"  required>
                        </div>

                      <button type="button" (click)="recover()" class="btn btn-block btn-success">Recover Password</button>
                    </form>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      